.blepper {
  display: block;
  position: relative;
  margin: 0 auto;

  .blep-tongue {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .blep-base {
    width: 100%;
  }
}




.blepper {
  &.theme-franklin {
    width: 300px;
    height: 300px;

    .blep-tongue {
      width: 30px;
      height: 16px;
      top: 134px;
      left: 92px;
    }
  }
}




.blepper {
  &.theme-aslan {
    width: 300px;
    height: 361px;

    .blep-tongue {
      width: 23px;
      height: 13px;
      top: 135px;
      left: 142px;
    }
  }
}





.blepper {
 &.theme-zelda {
    width: 276px;
    height: 474px;

    .blep-tongue {
      width: 48px;
      height: 31px;
      top: 169px;
      left: 29px;
    }
  }
}
